<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Regression " data-provider-thread-count="3"> 
<!--  <test name  ="Test1">
		<parameter name = "browser" value = "Chrome" />
	<classes>
		<class name="test.testng_concept.Test1"/>		
	</classes>
</test>
<test name  ="Test2">
	<parameter name = "browser" value = "IE" />
	<classes>
		
		<class name="test.testng_concept.Test2"/>
	</classes>
</test> -->

	<test name  ="Test2">
	<classes>
		<class name="test.testng_concept.Test2"/>
		<class name="test.testng_concept.Test1"/>
	</classes>
</test>

</suite>